<include file="public@header_vue"/>
<style>
    .el-pagination {
        margin-top: 20px;
    }

    .avatar {
        width: 40px;
        height: auto;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
</style>
</head>
<body>
<div id="app">
    <el-tabs type="border-card">
        <el-tab-pane label="直播设置" v-loading="onDataLoading">
            <el-row>
                <el-form :model="sourceFrom" class="demo-form-inline" :rules="rules" ref="sourceFrom"
                         label-width="200px">
                    <el-form-item v-if="{$role_id}!=3" label="选择公司" prop="company_id">
                        <el-col :span="18">
                            <el-select v-model="sourceFrom.company_id" placeholder="选择公司">
                                <el-option
                                        v-for="item in companyData"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="AccessKeyID" prop="AccessKeyID">
                        <el-col :span="18">
                            <el-input v-model="sourceFrom.AccessKeyID" placeholder="AccessKeyID"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="AccessKeySecret" prop="AccessKeySecret">
                        <el-col :span="18">
                            <el-input v-model="sourceFrom.AccessKeySecret" placeholder="AccessKeySecret"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="播流主key" prop="pull_key">
                        <el-col :span="18">
                            <el-input v-model="sourceFrom.pull_key" placeholder="播流主key"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="推流主key" prop="push_key">
                        <el-col :span="18">
                            <el-input v-model="sourceFrom.push_key" placeholder="推流主key"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="播流地址" prop="pull_address">
                        <el-col :span="18">
                            <el-input v-model="sourceFrom.pull_address" placeholder="播流地址"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="推流地址" prop="push_address">
                        <el-col :span="18">
                            <el-input v-model="sourceFrom.push_address" placeholder="推流地址"></el-input>
                        </el-col>
                    </el-form-item>
                </el-form>
                <el-button v-if="sourceFrom.id === ''" type="primary" @click="submit('sourceFrom')">新增</el-button>
                <el-button v-else type="primary" @click="submit('sourceFrom')">修改</el-button>
            </el-row>
        </el-tab-pane>
    </el-tabs>
</div>
</body>
<script>
    let id = 1000;
    var app = new Vue({
        el: '#app',
        data: function () {

            var checkPhone = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('手机号不能为空'));
                } else {
                    const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
                    if (reg.test(value)) {
                        callback();
                    } else {
                        return callback(new Error('请输入正确的手机号'));
                    }
                }
            };
            let self = this;
            return {
                tableData: [],
                companyData: [],
                form: {
                    keyword: '',
                },
                sourceFrom: {
                    id: '',
                    name: '',
                    tag_list: [],
                },
                dialogVisible: false,
                dialogLoading: true,
                totalNum: 0,
                currentPage: 1,
                parent_info: [],
                show_name: {
                    label: 'name'
                },
                onDataLoading: false,
                rules: {
                    company_id: [{required: true, message: '请选择公司', trigger: 'blur'}],
                    AccessKeyID: [{required: true, message: '请输入AccessKeyID', trigger: 'blur'}],
                    AccessKeySecret: [{required: true, message: '请输入AccessKeySecret', trigger: 'blur'}],
                    pull_key: [{required: true, message: '请输入播流key', trigger: 'blur'}],
                    push_key: [{required: true, message: '请输入推流key', trigger: 'blur'}],
                    pull_address: [{required: true, message: '请输入播流地址', trigger: 'blur'}],
                    push_address: [{required: true, message: '请输入推流地址', trigger: 'blur'}],
                },
                headers: {'X-Requested-With': 'XMLHttpRequest'},

            };

        },
        created() {
            this.getData()
            this.getCompanyData()
        },
        methods: {
            clearForm() {
                this.form = {
                    name: '',
                }
            },
            getCompanyData() {
                let _this = this;
                axios.get("{:url('admin/company/get_company_list')}", {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                }).then(function (response) {
                    _this.onDataLoading = false;
                    if (response.data.code === 1) {
                        _this.companyData = response.data.data;
                    } else {
                        _this.$message({
                            message: response.data.msg,
                            type: 'warning'
                        });
                    }
                }).catch(function (error) {
                    _this.onDataLoading = false;
                    _this.$message.error(error.toString())
                })
            },
            update(data) {
                let _this = this;
                console.log(data)
                if (data) {
                    _this.sourceFrom = JSON.parse(JSON.stringify(data));
                } else {
                    _this.sourceFrom = {
                        id: '',
                        name: '',
                        tag_list: [],
                    }
                }
                _this.dialogVisible = true;
                _this.dialogLoading = false;
            },
            submit(form) {
                let _this = this;
                _this.$refs[form].validate((valid) => {
                    if (valid) {
                        axios.post("{:url('admin/live/updateSetting')}", this.sourceFrom, {
                            headers: {
                                'X-Requested-With': 'XMLHttpRequest',
                            }
                        }).then(function (response) {
                            _this.dialogLoading = false;
                            if (response.data.code === 1) {
                                if (_this.sourceFrom.id === '') {
                                    _this.$message.success('新增完成');
                                } else {
                                    _this.$message.success('修改成功');
                                }
                                _this.getData();
                                _this.dialogVisible = false;
                            } else {
                                _this.$message.warning(response.data.msg);
                            }
                        }).catch(function (error) {
                            _this.dialogLoading = false;
                            _this.$message.error(error.toString())
                        })
                    } else {
                        _this.dialogLoading = false;
                        return false;
                    }
                });
            },

            //首页获取列表数据
            getData(page = 1) {
                let _this = this;
                let params = {page: page};
                this.onDataLoading = true;
                if (this.form.keyword !== '') {
                    params.keyword = this.form.keyword;
                }
                console.log(params);
                axios.get("{:url('admin/live/setting')}", {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    params: params
                }).then(function (response) {
                    console.log(response.data.data);
                    _this.onDataLoading = false;
                    if (response.data.code === 1) {
                        if (response.data.data) {
                            _this.sourceFrom = response.data.data;
                        } else {
                            _this.sourceFrom = {};
                        }

                    } else {
                        _this.$message({
                            message: response.data.msg,
                            type: 'warning'
                        });
                    }
                }).catch(function (error) {
                    _this.onDataLoading = false;
                    _this.$message.error(error.toString())
                })
            },
            formatDate(timestamp) {
                let date = new Date(timestamp * 1000);
                return date.getFullYear() + '-' + this.prefix(date.getMonth() + 1) + '-' + this.prefix(date.getDate()) + ' ' + this.prefix(date.getHours()) + ':' + this.prefix(date.getMinutes()) + ':' + this.prefix(date.getSeconds());
            },
            prefix(num) {
                if (num < 10) {
                    return '0' + num;
                }
                return num;
            }
        }
    });
</script>
